In [1]:
import pandas as pd
import scipy 
from scipy import stats

In [2]:

cof = pd.read_excel("D:/upendra/Data Science Training/hypothesis testing/ContractRenewal_Data(unstacked).xlsx")
cof

     Supplier A  Supplier B  Supplier C
0          6.15        7.87        7.41
1          6.22        5.21        3.61
2          6.76        7.94        7.23
3          4.29        7.36        5.53
4          7.08        6.17        3.97
..          ...         ...         ...
115        5.85        4.53        4.27
116        5.04        8.06        6.39
117        5.68        7.14        4.60
118        4.77        4.84        6.15
119        3.57        4.55        5.28

[120 rows x 3 columns]

In [4]:
cof.columns = "SupplierA", "SupplierB", "SupplierC"

cof

     SupplierA  SupplierB  SupplierC
0         6.15       7.87       7.41
1         6.22       5.21       3.61
2         6.76       7.94       7.23
3         4.29       7.36       5.53
4         7.08       6.17       3.97
..         ...        ...        ...
115       5.85       4.53       4.27
116       5.04       8.06       6.39
117       5.68       7.14       4.60
118       4.77       4.84       6.15
119       3.57       4.55       5.28

[120 rows x 3 columns]

In [5]:
# Normality Test
# p-value >.05 null hypothesis will be considered
# p-value <= .05 alternate hypothesis will be considered
#H0:normal
stats.shapiro(cof.SupplierA) # Shapiro Test

ShapiroResult(statistic=0.9940784573554993, pvalue=0.8961844444274902)

In [6]:
stats.shapiro(cof.SupplierB) # Shapiro Test

ShapiroResult(statistic=0.9912325143814087, pvalue=0.6483432650566101)

In [7]:
stats.shapiro(cof.SupplierC) # Shapiro Test

ShapiroResult(statistic=0.9904154539108276, pvalue=0.5719023942947388)

In [8]:
# Variance test

# All 3 suppliers are being checked for variances
#ho: equalvariance    #ha: non equal variance
scipy.stats.levene(cof.SupplierA, cof.SupplierB, cof.SupplierC)

LeveneResult(statistic=0.25183988720942463, pvalue=0.7775071819400866)

In [11]:
# One - Way Anova
stats.f_oneway(cof.SupplierA, cof.SupplierB, cof.SupplierC)

# p value  # P High Null Fly
# All the 3 suppliers have equal mean transaction time

F_onewayResult(statistic=2.280378701368123, pvalue=0.10373295731933224)