### Imputation

In [5]:
import pandas as pd
import numpy as np
dict={'First Score':[100,90,np.nan,95],'Second Score':[30,45,56,np.nan],'Third Score':[np.nan,40,80,98]}
dict
df=pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [6]:
df=pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [7]:
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [8]:
df.notnull()

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [9]:
# will fill all the missing values with zero
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [10]:
#  fill the missing value with previous one
df.fillna(method='pad')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

In [11]:
#  fill the missing value with next one
df.fillna(method='bfill')

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [12]:
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [13]:
df.replace(to_replace=np.nan, value= -75)#every missing value replace by the 75

   First Score  Second Score  Third Score
0        100.0          30.0        -75.0
1         90.0          45.0         40.0
2        -75.0          56.0         80.0
3         95.0         -75.0         98.0

In [14]:
df.dropna(axis=1)# it will drop the column

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [15]:
a=df['First Score'].mean()
a

95.0

In [16]:
df_new=df['First Score'].fillna(value=a,inplace=True)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

### Handling Outlier

In [19]:
#outlier is extreme values beyond the range
#IQR- inter quartel range
#min=Q1-1.5*IQR
#max=Q3+1.5*IQR
#Trimming means Removing The outlier
from scipy.stats.mstats import winsorize
import numpy as np
# winsorization
from scipy.stats.mstats import winsorize
#A shuffled array contains integers from 1 to 10.
a = np.array([10, 4, 9, 8, 5, 3, 7,2, 1, 6])
#he 10% of the lowest value (i.e., 1) and the 20% of the highest values (i.e., 9 and 10) are replaced.
winsorize(a, limits=[0.1, 0.2])

ModuleNotFoundError: No module named 'scipy'

In [17]:
a = np.array([10, 4, 9, 8, 5, 3, 7, 2, 1, 6])

In [18]:
# winsorization
from scipy.stats.mstats import winsorize
#A shuffled array contains integers from 1 to 10.
a = np.array([10, 4, 9, 8, 5, 3, 7,2, 1, 6])
#he 10% of the lowest value (i.e., 1) and the 20% of the highest values (i.e., 9 and 10) are replaced.
winsorize(a, limits=[0.1, 0.2])

ModuleNotFoundError: No module named 'scipy'

In [ ]:
# winsorization
from scipy.stats.mstats import winsorize
#A shuffled array contains integers from 1 to 10.
a1 = np.array([10, 4, 9, 8, 5,7,2,1, 6])
#he 10% of the lowest value (i.e., 1) and the 20% of the highest values (i.e., 9 and 10) are replaced.
winsorize(a1, limits=[0.1, 0.2])
a1

In [ ]:
# Step-1: Importing Necessary Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pandas as pd
import numpy as np
#Step-2:Read and Load the Dataset
df = pd.read_csv('D:\\upendra\\Data Science Training\\data science primer\\Placement_Data_Full_Class.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
#Step-3: Plot the Distribution plots for the features
import warnings
warnings.filterwarnings('ignore')
plt.figure(figsize=(16,5))
plt.subplot(1,2,1)
sns.distplot(df['salary'])
plt.subplot(1,2,2)
sns.distplot(df['degree_p'])
plt.show()

In [ ]:
#Step-4: Finding the Boundary Values
print("Highest allowed",df['salary'].mean() + 3*df['salary'].std())
print("Lowest allowed",df['salary'].mean() - 3*df['salary'].std())

In [ ]:
#Step-5: Finding the Outliers
df[(df['salary'] <8283.048) | (df['salary'] >569027.76)]

In [ ]:
#Step-6: Trimming of Outliers
new_df=df[(df['salary'] > 8283.048) | (df['salary'] <569027.76)]
new_df.shape

In [ ]:
from scipy.stats.mstats import winsorize

In [ ]:
a=df['salary']
a.shape

In [ ]:
b=winsorize(a, limits=[0.1, 0.2])
b.shape

In [ ]:
a.shape

In [ ]:
df.shape

In [ ]:
new_df.shape

### Binning

In [ ]:
df['ssc_p']

In [ ]:
bin_data = df[['ssc_p']]
bin_data = pd.cut(df['ssc_p'], bins=[0, 40, 50, 100], 
                                       labels=["Low", "Mid", "High"])
print(bin_data)

In [ ]:
df['ssc_p_bin']=bin_data
df.head()

### Feature spliiting

In [ ]:
df.shape

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2)
print(train.shape)
print(test.shape)

In [ ]:
215*.2

In [ ]:
help(train_test_split)

### Categorical Encoding

One hot encoding

Label encoding

#### one hot encoding

In [ ]:
# import required modules
import pandas as pd
import numpy as np

# create dataset
df = pd.DataFrame({'Temperature': ['Hot', 'Cold', 'Warm', 'Cold'],
				})

# display dataset
print(df)

In [ ]:
# create dymmy variables
pd.get_dummies(df)

In [ ]:
# import required modules
import pandas as pd
import numpy as np

# create dataset
df = pd.DataFrame({'A': ['Alberto', 'vasanthi', 'Asalah'],
				'B': ['vasanthi', 'Alberto', 'Alberto'],
				'C': [1, 2, 3]})

# display dataset
print(df)

# create dymmy variables
pd.get_dummies(df)

In [ ]:
# Import libraries
import numpy as np
import pandas as pd

# Import dataset
df = pd.read_csv('D:\\upendra\\Data Science Training\\Iris.csv')
df.head()

#df['Species'].unique()

In [ ]:
df['Species'].unique()

#### Label Encoding

In [ ]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df['Species']= label_encoder.fit_transform(df['Species'])

df['Species']

### Normalization and standardization

In [ ]:
# example of a normalization
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
# define data
data = asarray([[100, 0.001],
				[8, 0.05],
				[50, 0.005],
				[88, 0.07],
				[4, 0.1]])
#print(data)
# define min max scaler
scaler = MinMaxScaler() # means you are doing normalization
# transform data
scaled = scaler.fit_transform(data)
print(scaled)

In [ ]:
df.info()

### Feature selection

In [ ]:
# importing the library
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
bestfeatures=SelectKBest(score_func=chi2,k=3)

In [ ]:
# Import libraries
import numpy as np
import pandas as pd

# Import dataset
df = pd.read_csv('D:\\upendra\\Data Science Training\\Iris.csv')
df.head()

In [ ]:
x = df.iloc[:,1:5]  #independent columns
y = df.iloc[:,-1]  #target column is species
x.head()
#y

In [ ]:
#apply SelectKBest class to extract top 10 best features
fit=bestfeatures.fit(x,y)
dfscores=pd.DataFrame(fit.scores_)
dfcolumns=pd.DataFrame(x.columns)
print(dfscores)
print(dfcolumns)

In [ ]:
#concat two dataframes for better visualization 
featureScore=pd.concat([dfcolumns,dfscores],axis=1)
featureScore.columns=['Species','Score']
featureScore

In [ ]:
#featureScore.nlargest(10).plot(kind='barh')

import matplotlib.pyplot as plt
plt.barh(featureScore.Species,featureScore.Score)
plt.show()

### Feature Importance

In [ ]:
import pandas as pd
import numpy as np
X = df.iloc[:,1:5]  #independent columns
y = df.iloc[:,-1]    #target column i.e species
x.head()

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

In [ ]:
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(4).plot(kind='bar')
plt.show()